page-home {
    .section-header-container {
        background-color: lightgray;
        color: black;

        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    .submit-button-container {
        text-align: center;
        margin-top: 1rem;

        .submit-button {
            padding: 1rem 4rem;
            background-color: #14CC65;
            border-radius: 25rem;
            color: white;
        }
    }
}
