<common-header title="級試報名表格 (Grading Test Application)"></common-header>

<ion-content padding>
	<ion-list>
		<!-- Name Section -->
		<ion-list-header class="section-header-container">
			姓名 Name
		</ion-list-header>
		<ion-item>
			<ion-label floating>
				中文姓名
			</ion-label>
			<ion-input type="text" [(ngModel)]="gradingTestModel.name_zh"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>
				English Name
			</ion-label>
			<ion-input type="text" [(ngModel)]="gradingTestModel.name_en"></ion-input>
		</ion-item>
		<!-- End of Name Section -->

		<!-- Gender Section -->
		<ion-list-header class="section-header-container">
			性別 Gender
		</ion-list-header>
		<div radio-group [(ngModel)]="gradingTestModel.gender">
			<ion-item>
				<ion-label>男 Male</ion-label>
				<ion-radio value="M"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label>女 Female</ion-label>
				<ion-radio value="F"></ion-radio>
			</ion-item>
		</div>
		<!-- End of Gender Section -->

		<!-- Contact Section -->
		<ion-list-header class="section-header-container">
			聯絡電話 Contact Number
		</ion-list-header>
		<ion-item>
			<ion-label floating>
				電話號碼 Tel No.
			</ion-label>
			<ion-input type="tel" [(ngModel)]="gradingTestModel.tel"></ion-input>
		</ion-item>
		<!-- End of Contact Section-->

		<!-- Contact Email Section -->
		<ion-list-header class="section-header-container">
			電郵 Contact Email
		</ion-list-header>
		<ion-item>
			<ion-label floating>
				電郵 Email
			</ion-label>
			<ion-input type="email" [(ngModel)]="gradingTestModel.email"></ion-input>
		</ion-item>
		<!-- End of Contact Email Section -->

		<!-- Grading Level Section -->
		<ion-list-header class="section-header-container">
			考試級數 Grading Test Level
		</ion-list-header>
		<ion-item>
			<ion-label floating>
				考試級數 Grading Test Level
			</ion-label>
			<ion-input type="text" [(ngModel)]="gradingTestModel.grading_level"></ion-input>
		</ion-item>
		<!-- End of Grading Level Section -->

		<!-- Grading Test Date Section -->
		<ion-list-header class="section-header-container">
			考試日期 Grading Test Date
		</ion-list-header>
		<ion-item>
			<ion-label floating>考試日期 Grading Test Date</ion-label>
			<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="gradingTestModel.grading_date"></ion-datetime>
		</ion-item>
		<!-- End of Grading Test Date Section -->

		<!-- Submit Button -->
		<div class="submit-button-container">
			<button class="submit-button" (click)="onSubmitClicked ()">提交 Submit</button>
		</div>
		<!-- End of Submit Button -->
	</ion-list>
</ion-content>