<ion-header class="my-header">

  <ion-navbar>
    <ion-title class="logo" *ngIf="logo_url">
      <img [src]="logo_url" />
    </ion-title>

    <ion-title *ngIf="title">{{title}}</ion-title>

    <!-- Menu button -->
    <button *ngIf="enable_menu" ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

    <!-- Back button -->
    <ion-buttons *ngIf="enable_back" left>
      <button ion-button navPop>
				<ion-icon name="ios-arrow-back-outline"></ion-icon>
			</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>